.nav-link {
    color: white;
    pointer-events: painted;
}


.navbar-light .navbar-brand {
    color: #FFFFFF;
    pointer-events:painted;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#FFFFFF;
    pointer-events: painted;
}
.login-content
{
    background-color: darkgray;
}
